/*font-family: 'Poppins', sans-serif; - Titulos*/ 
/*font-family: 'Plus Jakarta Sans', sans-serif; - Parrafos*/
/*Estructura CSS realizada por Daniel Juárez*/ 
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@1,500&family=Poppins:wght@500&display=swap');
*{
	margin: 0;
	padding: 0;
}

html{
	background: #113c5e;
}

body{
	background: #113c5e;
}

h1, h2{
	color: #FFF;
	font-family: 'Poppins', sans-serif;
}

p, h5{
	font-family: 'Plus Jakarta Sans', sans-serif;
	color: #1fe6ef;
}

.jumbotron_one{
	background-image: url("../img/jumbotron_one.png");
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 2%;
	width: 95%;
	height: 55vh;
	border-radius: 25px 25px 25px 25px;
}

.jumbotron_one h1{
	text-align: left;
	color: #FFF;
	letter-spacing: 2px;
	font-size: 80px;
}

.title_one{
	position: absolute;
	margin-top: 6%;
	margin-left: 13%;
}

.jumbotron_one p{
	position: absolute;
	margin-top: 13%;
	margin-left: 13%;
	color: #094A73;
	font-size: 40px;
	font-weight: bold;
}

.jumbotron_two{
	background-color: #0a1d45;
	margin-top: 2%;
	width: 95%;
	height: 22vh;
	border-radius: 25px 25px 25px 25px;
}

.jumbotron_two .donald_text{
	width: 50%;
	float: left;
}

.jumbotron_two .donald_images{
	width: 50%;
	float: right;
}

.jumbotron_two .donald_text h2, p{
	text-align: left;
	padding: 15px 0px 0px 25px;
	font-size: 30px;
}

.jumbotron_two .donald_text p{
	font-size: 20px;
}

.jumbotron_two .donald_text h5{
	font-size: 15px;
	text-align: right;
	font-weight: bold;
	padding-right: 27px;
	color: #FFF;
}

.jumbotron_two .donald_images img{
	width: 30%;
	padding-top: 12px;
	padding-left: 100px;
}

.jumbotron_three{
	background-color: #0a1d45;
	margin-top: 2%;
	width: 95%;
	height: 22vh;
	border-radius: 25px 25px 25px 25px;
	padding-bottom: 20px;
}

.jumbotron_three .luis_text{
	width: 50%;
	float: right;
}

.jumbotron_three .luis_images{
	width: 50%;
	float: left;
}

.jumbotron_three .luis_text h2{
	text-align: right;
	padding: 10px 30px 0px 15px;
	font-size: 30px;
}

.jumbotron_three .luis_text p{
	text-align: right;
	padding: 5px 30px 15px 15px;
	font-size: 15px;
}

.jumbotron_three .luis_text p{
	font-size: 20px;
}

.jumbotron_three .luis_text h5{
	font-size: 15px;
	text-align: left;
	font-weight: bold;
	padding-left: 27px;
	color: #FFF;
}

.jumbotron_three .luis_images img{
	width: 15%;
	padding-left: 120px;
}

.jumbotron_four{
	background-color: #0a1d45;
	margin-top: 2%;
	width: 95%;
	height: 22vh;
	border-radius: 25px 25px 25px 25px;
	margin-bottom: 3%;
}

.jumbotron_four .denilson_text{
	width: 50%;
	float: left;
}

.jumbotron_four .denilson_images{
	width: 50%;
	float: right;
}

.jumbotron_four .denilson_text h2, p{
	text-align: left;
	padding: 15px 0px 0px 25px;
	font-size: 30px;
}

.jumbotron_four .denilson_text p{
	font-size: 20px;
}

.jumbotron_four .denilson_text h5{
	font-size: 15px;
	text-align: right;
	font-weight: bold;
	padding-right: 27px;
	color: #FFF;
}

.jumbotron_four .denilson_images img{
	width: 30%;
	padding-top: 12px;
	padding-left: 100px;
}

footer{
	background: rgba(0, 0, 0, 0.6);
}

footer p{
	color: #FFF;
	text-align: center;
	padding-bottom: 15px;
	font-style: italic;
	font-size: 22px;
}